.Art_mainDiv{
    border: 1px solid rgb(126, 123, 123);
}
    
.agdasima-regular {
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.agdasima-bold {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#movies{
    text-align: center;
}

#movies{
    text-align: center;
}

